@import "fontIcon";
@import "checkbox";
@import "button";

/*------------------------------- Normalize css ------------------------------- */
body,html{
	width:100%;
	height:100%;
	background-color: transparent;
}
div,p,ul,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
	list-style: none;
}

/*------------------------------- Normalize css ------------------------------- */


/*------------------------------- CONST COLOR ------------------------------- */

$LIGHTGRAY: #f1f4f7;

/*------------------------------- CONST COLOR ------------------------------- */

/*------------------------------- Common Mixins ------------------------------- */

@mixin none {
 	display: none;
}

@mixin ellipsis($width:auto){
	-o-text-overflow: ellipsis;/*兼容opera*/
	-webkit-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;/*这就是省略号喽*/		  
	overflow: hidden;/*设置超过的隐藏*/
	white-space: nowrap;/*设置不折行*/
	width:$width;
}

@mixin inline-block {
 	display: inline-block;
 	zoom:1;
}

@mixin opacity($opacity:50) {
  	opacity: $opacity / 100;
  	filter:  alpha(opacity=$opacity);
}

@mixin size($width:222, $height:$width) {
  	width:  $width;
  	height: $height;
}

/*------------------------------- Common Mixins ------------------------------- */


